{%extends 'base.html'%}
{%block content%}
<h3>Last 10 blocks</h3>
<table class="table">
	<thead>
		<tr>
			<th>Index</th>
			<th>Previous Hash</th>
			<th>Timestamp</th>
		</tr>
	</thead>
	<tbody>
		{%for block in chain %}
		<tr>
			<td>{{block.index}}</td>
			<td>{{block.previous_hash}}</td>
			<td>{{block.timestamp}}</td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{%endblock%}