<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      
        <img src="https://bulma.io/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      
    </a>
    <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuColorprimary-example" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
     <a class="navbar-item" href="/blockchain/blocks/">
            Blocks
          </a>
      <a class="navbar-item" href="/auth/students/">
          Students
        </a>
          <a class="navbar-item" href="/auth/staffs">
            Staffs
          </a>
         
        
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
 {%if not request.user.is_authenticated %}
          <p class="control">
            <a class="button is-link" href="/auth/login/">
              <span>
                Login
              </span>
            </a>
          </p>
          {%else%}
          <p class="control">
            <a class="button is-link" href="/auth/logout/">
            	<span>Logout</span>
            </a>
          </p>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</nav>