{%extends 'base.html'%}
{%block content%}
<div class="content">
	<div class="column is-6 is-offset-3">
		{%if error %}
			<p>{{error}}
		{%endif%}
	<form name="loginForm" id="loginForm" method="POST" action=".">
		{%csrf_token%}
		<div class="control">
			<label>Username</label>
			<input class="input" type="text" name="username" required>
		</div>
		<div class="control">
			<label>Password</label>
			<input class="input" type="password" name="password" required>
		</div>
		<div class="field">
			<div class="control" style="margin-top: 5px;">
				<button class="button is-primary" type="submit">Login</button>
			</div>
		</div>
	</form>
</div>
</div>
{%endblock%}