{%extends 'base.html'%}
{%block content%}
<h3 class="title">Officials</h3>
<div class="is-pulled-right">
	<a class="button is-outlined is-info" href="/auth/staffs/add/">Add Official</a>
</div>

<table class="table">
	<thead>
		<th>#</th>
		<th>Name</th>
		<th>Office</th>
		<th>Action</th>
	</thead>
	<tbody>
		{%for staff in staffs %}
		<tr>
			<td>{{staff.id}}</td>
			<td>{{staff.fullname}}</td>
			<td>{{staff.attached_office}}</td>
			<td>
				<a href="/auth/staffs/edit/{{staff.id}}"><span class="tag is-success">Edit</span></a>
				<a href="/auth/staffs/delete/{{staff.id}}"><span class="tag is-danger">Delete</span></a>
			</td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{%endblock%}