{%extends 'base.html' %}
{%block content%}
{%if messages%}
 	{%for msg in messages %}
		<div class="notification is-info">
		  <button class="delete"></button>
		  {{msg}}
		</div>
 	{%endfor%}
{%endif%}

<div class="column is-three-fifths is-offset-one-fifth">
	<div class="card">
		<div class="card-content">
			<p class="title is-4 is-centered">Add Official</p>
			<div class="content">
				<form name="staffform" action="." method="POST">
					{%csrf_token%}

					<div class="field">
						<label class="label">Official's Name</label>
						<div class="control">
							<input type="text" name="fullname" class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Mobile Number</label>
						<div class="control">
							<input type="text" id="mobileNumber" name="username" class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Password</label>
						<div class="control">
							<input type="password" id="password" name="password" class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Concerned Office</label>
						<div class="control">
							<input type="text" name="attached_office" class="input">
						</div>
					</div>
					<div class="field">
						<label class="label">Designation</label>
						<div class="control">
							<input type="text" name="designation" class="input">
						</div>
					</div>

					<div class="field is-grouped">
						<div class="control">
							<button class="button is-primary">Submit</button>
						</div>
						<div class="control">
							<button class="button">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>		
	</div>
</div>

{%endblock%}