{%extends 'base.html'%}
{%block content%}
<h3 class="title">Students</h3>
<div class="is-pulled-right">
	<a class="button is-outlined is-info" href="/auth/students/add/">Add Student</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Student Name</th>
			<th>Reg no.</th>
			<th>Hall</th>
			<th>Department</th>
			<th>ID Card Block</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{%for student in students %}
		<tr>
			<td>{{student.id}}</td>
			<td>{{student.fullname}}</td>
			<td>{{student.registration_number}}</td>
			<td>{{student.attached_hall}}</td>
			<td>{{student.department_institute}}</td>
			<td>{{student.idcard.block_index}}</td>
			<td>
				<a href="/auth/students/edit/{{student.id}}/"><span class="tag is-success">Edit</span></a>
				<a href="/auth/students/edit/{{student.id}}/"><span class="tag is-danger">Delete</span></a>
			</td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{%endblock%}