{%load static%}
<!DOCTYPE html>
<html>
	<title>Digital Student Identification Management</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
	<body>

		{%include 'navbar.partial.html'%}
		<div class="content">
			{%block content%}
			{%endblock%}
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="{%static 'js/myscripts.js' %}"></script>
	</body>
</html>