{%extends 'base.html' %}
{%block content%}

{%if messages%}
 	{%for msg in messages %}
		<div class="notification is-info">
		  <button class="delete"></button>
		  {{msg}}
		</div>
 	{%endfor%}
{%endif%}

<div class="column is-three-fifths is-offset-one-fifth">
	<div class="card">
		<div class="card-content">
			<p class="title is-4 is-centered">Add Student</p>
			<div class="content">
				<form name="studentForm" method="POST" action="/blockchain/create_idcard/" id="addStudentForm" enctype="multipart/form-data">
					{%csrf_token%}
					<div class="field">
						<label class="label">Student's Name</label>
						<div class="control">
							<input type="text" id="studentName" name="fullname" class="input">
						</div>
					</div>
					
					<div class="field">
						<label class="label">Mobile Number</label>
						<div class="control">
							<input type="text" id="mobileNumber" name="username" class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Password</label>
						<div class="control">
							<input type="password" id="password" name="password" class="input">
						</div>
					</div>


					<div class="field">
						<label class="label">Father's Name</label>
						<div class="control">
							<input type="text" id="father_name" name="father_name" class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Mother's Name</label>
						<div class="control">
							<input type="text" id="mother_name" name="mother_name" class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Registration Number</label>
						<div class="control">
							<input type="text" id="registration_number" name="registration_number" class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Hall</label>
						<div class="control">
							<input type="text" id="attached_hall" name="attached_hall"  class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Department/Institute</label>
						<div class="control">
							<input type="text" id="department_institute" name="department_institute" class="input">
						</div>
					</div>

					<div class="field">
						<label class="label">Session</label>
						<div class="control">
							<input type="text" id="session" name="session" class="input">
						</div>
					</div>
					
					<div class="columns">
						<div class="column is-6">
							<div class="field">
								<label class="label">Residential Status</label>
								<div class="control">
									<div class="select">
										<select id="residential_status" name="residential_status">
											<option value="1">Residential</option>
											<option value="2">Non-Residential</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="column is-6">
							<div class="field">
								<label class="label" for="image">Choose an Image</label>
								<div class="">
									<input type="file" name="image" id="image" class="file-input" accept="image/*">
									
								</div>
							</div>
						</div>
					</div>

					<div class="field is-grouped">
						<div class="control">
							<button class="button is-primary">Submit</button>
						</div>
						<div class="control">
							<button class="button">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>		
	</div>
</div>

{%endblock%}